:root {
  --background-color: #ffffff;
  --text-color: #1F1F1F;
  --primary-color: #F1F4F9;
  --secondary-color: #F1F4F9;
  --border-color: #eaeaea;
  --active-tab-color: rgb(214, 227, 251);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 450px;
  padding: 20px;
  background-color: var(--secondary-color);
}

.sidebarTitle {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: bold;
}

.sidebar nav {
  margin-bottom: 30px;
}

.nav-section {
  background-color: var(--background-color);
  border-radius: 24px;
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 15px;
  color: var(--text-color);
  text-decoration: none;
  position: relative;
  z-index: 1;
  height: 24px; /* 고정 높이 설정 */
}

.nav-emoji {
  margin-right: 10px;
  font-size: 1.2em;
}

.nav-text {
  font-size: 1em;
}

.nav-indicator {
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: 54px; /* nav-item의 height + padding */
  background-color: var(--active-tab-color);
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.nav-item:nth-child(2).active ~ .nav-indicator {
  transform: translateY(54px); /* nav-item의 height + padding */
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.expander-section {
  background-color: var(--background-color);
  border-radius: 24px;
  margin-bottom: 20px;
  overflow: hidden;
  transition: all 1s ease-out;
}

.sidebar-expander {
  margin-bottom: 0;
}

.expander-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 1em;
}

.expander-content {
  background-color: transparent;
  overflow: hidden;
  transition: max-height 1s ease-out;
  max-height: 0;
}

.expander-content.expanded {
  max-height: 1000px;
}

.expander-content-inner {
  padding: 0 15px 15px;
  line-height: 1.6;
}

.expander-content ul {
  list-style-type: none;
  padding-left: 0;
}

.expander-content li {
  margin-bottom: 5px;
}